@font-face {
	font-family: 'Circe';
	src: local('Circe'), local('./fonts/Circe-Regular'),
		url('./fonts/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe ExtraLight'), local('./fonts/Circe-ExtraLight'),
		url('./fonts/Circe-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Thin'), local('./fonts/Circe-Thin'),
		url('./fonts/Circe-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Light'), local('./fonts/Circe-Light'),
		url('./fonts/Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Bold'), local('./fonts/Circe-Bold'),
		url('./fonts/Circe-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe ExtraBold'), local('./fonts/Circe-ExtraBold'),
		url('./fonts/Circe-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
